*{
    padding: 0;
    margin: 0;
    user-select: none;
}

body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;

    .container{
        height: auto;
        width: 400px;
        min-height: 60vh;
        background-color: #ffffff73;
        margin-left: 399px;
        margin-top: 200px;
        align-items: center;
        justify-content: center;
        opacity: 70%;
        box-shadow: 8px 8px 10px grey, -8px -8px 10px grey;

        .login{
            font-size: 30px;
            color: blue;
            text-transform: uppercase;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
            margin-top: 20px;
            font-weight: bold;
            letter-spacing: 2px;
        }

        form{
            align-items: center;
            justify-content: center;
            margin: 40px;
            
            .user{
                margin: 10px;
                // padding: 10px 19px;

                input{
                    margin-top: 20px;
                    font-size: 20px;
                    border-radius: 
                    10px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    height: 50px;
                    width: 90%;
                    background-color: 
                    aquamarine;
                    box-shadow: inset 2px 2px 5px #d1aed1, inset -2px -2px 5px #fff;
                    border: none;
                    outline: none;
                }
            }

            button{
                padding: 0.1rem;
                background-color: #000000;
                color: white;
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                margin-left: 105px;
                border-radius: 20px;
            }

            .new{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                text-align: center;
                margin-top: 30px;
                font-size: 19px;
                span{
                    :hover{
                        font-size: 20px;
                        color: black;
                    }
                }
            }
        }
    }
}